config MTK_MSA3016
	tristate "MSA3016 for MediaTek package"
	default n
	help
	  It support different accelerometer sensor.
          If this option is set,
	  it will support
          MSA300 Accelerometer.
